name: QA

on:
  push:
  pull_request:

jobs:
  qa:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Install Python dependencies
        run: uv sync

      - name: Run QA Checks (ruff, mypy)
        run: make qa

      - name: Run Unit Tests (pytest)
        run: make test